<div>
    <div *ngIf="currentPeli" class="edit-form">
      <h4>Pelicula</h4>
      <form>
        <div class="form-group">
          <label for="title">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentPeli.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="sinopsis">Sinopsis</label>
          <input
            type="text"
            class="form-control"
            id="sinopsis"
            [(ngModel)]="currentPeli.sinopsis"
            name="sinopsis"
          />
        </div>
        <div class="form-group">
            <label for="id">ID</label>
            <input
              type="text"
              class="form-control"
              id="id"
              [(ngModel)]="currentPeli.id"
              name="id"
            />
          </div>

          <div class="form-group">
            <label for="img">Imagen</label>
            <input
              type="text"
              class="form-control"
              id="img"
              [(ngModel)]="currentPeli.img"
              name="img"
            />
          </div>
  
      </form>
  
      <button class="badge badge-danger mr-2" (click)="deletePeli()">
        Borrar
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updatePeli()"
      >
        Actualizar
      </button>
      <p>{{ message }}</p>
    </div>
  
  </div>
