<header>
  <h1>Nesflis</h1>
  <button mat-button routerLink="/add-peli">Agregar Pelicula</button>
</header>
<mat-card class="example-card" *ngFor="let pelicula of peliculas">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ pelicula.name }}</mat-card-title>
      <mat-card-subtitle>{{ pelicula.sinopsis }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ pelicula.img }}">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/peli-detail/:id" >Editar</button>
      <button mat-button routerLink="/peli-detail/:id">Borrar</button>
    </mat-card-actions>
  </mat-card>